/* style.css */
QWidget {
    background-color: #ffffff; /* Blanco */
    color: #000000; /* Negro */
    font-family: Arial, sans-serif;
}

QLabel {
    font-size: 18px;
    font-weight: bold;
    color: #e60000; /* Rojo Bimbo */
}

QPushButton {
    background-color: #e60000; /* Rojo Bimbo */
    color: #ffffff; /* Blanco */
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #cc0000; /* Rojo más oscuro */
}

QPushButton:pressed {
    background-color: #990000; /* Rojo aún más oscuro */
}
